# Java & Gradle
/build/
/.gradle/
!/gradle/wrapper/gradle-wrapper.jar  # <- 이 줄 추가!
/out/
*.class
*.jar
!gradle-wrapper.jar                  # <- 이 줄 추가!

# IDE
/.idea/
*.iml

# OS
.DS_Store
Thumbs.db

